:root {
    --container-height: 100vh;
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    width: 100%;
    height: var(--container-height);
}
